a{
    text-decoration: none;
    color: #3897f0;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
}

h2{
    color: black;
    text-align: center;
}
html{
    text-align: center;
    background-image: url('../immagini/Logo app.png'); 
        background-size: cover; 
        background-size: 400px  400px;
        background-repeat: no-repeat;
        background-position: center 100px;
        background-color: #f0f8ff;
}
body {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        
    }